* {margin: .5;
    padding: 1;}

header,
footer { 
    width: 100%;
    height: 310px;
    background-color: rgb(20, 154, 232);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

h1
    {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;

}

h2, h3
    {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

  
ul {
    padding-left: 40px;
    font-size: 20px;
}

li {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 30px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid rgba(28, 50, 198, 0.421);
    border-radius: 20%;
    box-shadow: 5px 10px #888888;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
.dot {
    width: 100%;
    margin: 60px auto;
    border: 5px solid gray;
    border-radius: 50%;
    box-shadow: 5px 10px #888888;
    display: inline-block;
}

.box {
    width: auto;
    margin: 10%;
    border: 10px solid  #401213;
    border-radius: 20%;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
}
  